.darkmode-front {
  background-color: #161616;
  border-radius: 43px;
  height: 382px;
  width: 640px;
  overflow: hidden;
  transform-style: preserve-3d;
}

/* .darkmode-front:hover {
  border-color: #e1e1e1;
  border-style: solid;
  border-width: 2px;
} */

.darkmode-front .overlap-group {
  height: 382px;
  position: relative;
}


.darkmode-front .bottom-line {
  height: 74px;
  left: 282px;
  position: absolute;
  top: 144px;
  width: 303px;
}

.darkmode-front .upper-line {
  height: 34px;
  left: 66px;
  position: absolute;
  top: 99px;
  width: 234px;
}

.darkmode-front .text-wrapper {
  color: #e1e1e1;
  font-family: "Orbitron", Helvetica;
  font-size: 13px;
  font-weight: 700;
  left: 295px;
  letter-spacing: 4.16px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 197px;
  width: 297px;
  cursor: default;
}

.darkmode-front .div {
  color: #4e52b1;
  font-family: "Orbitron", Helvetica;
  font-size: 70px;
  font-weight: 700;
  left: 62px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  cursor: default;
  top: 24px;
  width: 583px;
}

.darkmode-front .text-wrapper-2 {
  color: #e1e1e1;
  font-family: "Orbitron", Helvetica;
  font-size: 70px;
  font-weight: 400;
  left: 302px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 90px;
  white-space: nowrap;
  width: 303px;
  cursor: default;
}

.darkmode-front .icon-label {
  color: #4e52b1;
  font-family: "Orbitron", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 302px;
  letter-spacing: 0.2px;
  line-height: normal;
  position: absolute;
  top: 300px;
  white-space: nowrap;
  width: 303px;
  cursor: default;
}

.darkmode-front .bottom-icons {
  height: 29px;
  left: 30px;
  position: absolute;
  top: 332px;
  width: 575px;
}

.darkmode-front .bottom-icons-wrapper {
  left: 30px;
  top: 332px;
  position: absolute;
  display: flex;
  gap: 32px;
}

.darkmode-front .bottom-icon {
  height: 29px;
  width: 29px;

  transition: width 0.2s, height  0.2s, top  0.2s, left  0.2s;
}
.darkmode-front .bottom-icon:hover {
  height: 35px;
  width: 35px;
}

.darkmode-front .wired-profile {
  height: 158px;
  left: 83px;
  position: absolute;
  top: 161px;
  width: 181px;
}