.App {

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;  
}

.app-img {
  height: 50px;
  width: 50px;
  top: 200px;
  cursor: pointer;
  filter: invert(98%) sepia(1%) saturate(6753%) hue-rotate(185deg) brightness(123%) contrast(76%);

}

.flip-arrow-left-wrapper {
  transform: scaleX(-1);
}


@font-face {
  font-family: 'Orbitron';
  src: local('Orbitron'), url(./fonts/Orbitron/Orbitron-Regular.ttf) format('truetype');
}